.qr-container {
  background-color: #f43f5e;
  padding: 4px;
  border-radius: 4px;
  position: absolute;
  top: -150px;
  right: 50%;
  transform: translateX(50%);
}

.socials-container {
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  bottom: -245px;
  z-index: 2;
  right: 50%;
  transform: translateX(50%);
}

.tail::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
}

.qr-container::after {
  border-color: #f43f5e transparent transparent;
  border-width: 10px 7px 0;
  bottom: -10px;
}

.socials-container::after {
  border-color: transparent transparent #ffffff;
  top: -10px;
  border-width: 0 7px 10px;
}

#rc-anchor-container {
  transform: scale(0.77);
  transform-origin: 0 0;
}
